*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));
    
        /* ### Light Theme */
    
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    /* --Light-Grayish-Blue: hsl(233, 11%, 84%); */
    --Light-Grayish-Blue: hsl(237, 14%, 26%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

     /* ### Dark Theme */

    /* --Very-Dark-Blue: hsl(235, 21%, 11%); */
    /* --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%); */
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

.dark-mode {
    --Very-Light-Gray: hsl(235, 24%, 19%);
    --Very-Light-Grayish-Blue: hsl(235, 21%, 11%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);    
}
ul,li{
    list-style: none;
}
h2 {
    color: var(--Very-Light-Gray);
    letter-spacing: 7px;
    font-weight: 700;
}
p {
    color: var(--Dark-Grayish-Blue);
}
.main {
    background-color: var(--Very-Light-Grayish-Blue);
    min-height: 100vh;
    transition: all 3s ease;
}
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ground-layer {
    background-image: url(images/bg-desktop-light.jpg);
    width: 100%;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-body {
    position: absolute;
    top: 20%;
}
.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.bottom {
    background-color: var(--Very-Light-Gray);
    border-radius: 10px;
}
.input-container {
    width: 20rem;
    position: relative;
    height: 100%;
}
.input-container .circle {
    position: absolute;
    margin-top: 0.9rem;
    margin-left: 1rem;
}
.input {
    background-color: var(--Very-Light-Gray);
    color: var(--Light-Grayish-Blue);
    width: 25rem;
    border: none;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    padding-top: 1rem ;
    padding-left: 3rem;
}
textarea::placeholder {
    font-family: 'Josefin Sans', sans-serif;
}
textarea {
    resize: none;
    overflow: hidden;
    min-height: 2.5rem;
}
.input:focus {
    outline: none;
}
textarea {
    background-color: var(--Very-Light-Gray);

}
.textarea {
    width: 25rem;
    min-height: 2.5rem;
    border: none;
    border-bottom: 2px solid var(--Very-Light-Grayish-Blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1rem 3rem;
}
.textarea .remove {
    cursor: pointer;
    position: absolute;
    right: 5%;
}
.textarea .checkbox {
    position: absolute;
    left: 4%;
}
.textarea span{
    color: var(--Light-Grayish-Blue);
}
.circle {
    border: 1px solid var(--Very-Dark-Grayish-Blue);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}
.enter{
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enter img {
    position: absolute;
}
.details {
    display: flex;
    justify-content: space-between;
    width: 25rem;
    margin-top: 1rem;
    font-weight: 400;
    padding: 1rem;
}
.remove{
    background: url(images/icon-cross.svg) no-repeat;
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: none;
}
ul li:hover .remove{
    display: block;
}
ul li.hidden{
    display: none;
}
input[type="radio"]:checked {
    background: url(images/icon-check.svg), linear-gradient(to right,hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
    border:none;
}
.display input {
    -webkit-appearance: none;
    border: 1px solid hsl(234, 11%, 52%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;    
}
.display input:checked{
    background: url(images/icon-check.svg), linear-gradient(to right,hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    border-radius: 50%;
}
.display input:checked ~ .text{
  text-decoration: line-through;
  color:hsl(234, 11%, 52%);
}
.filter {
    display: flex;
}
.filter :not(:last-child) {
    padding-right: 7px;
}
.details input[type="radio"]{
    display: none;
}
.details label:hover{
  color:var(--Very-Light-Grayish-Blue);
}
.details input[type="radio"]:checked ~ span{
  color: var(--Bright-Blue);
}
.details p {
    font-size: 13px;
    cursor: pointer;
}
.active {
    color: var(--Bright-Blue);
    font-weight: 700;
}
p:hover {
    color: var( --Very-Dark-Grayish-Blue);
    font-weight: 700;
}
@media(max-width:440px){
    .ground-layer{
        background-image: url(images/bg-mobile-light.jpg);
    }
    .input-container{
        width: 20rem;
    }
    .textarea{
        width: 20rem;
    }
    .input {
        width: 20rem;
    }
    .details{
        width: 20rem;
    }
    .details p {
        font-size: 11px;
    }
}